# My Project as a Jupyter Notebook

## Introduction

What are the best in-season moves for the `New York Mets` to make to improve the ballclub?

## Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlite3

In [2]:
# Get the current working directory:
os.getcwd()

'C:\\Users\\robertg\\Git\\codelouisville\\python-class-project'

## Data Import
Read data from csv files and verify data:

In [3]:
players = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'People.csv'), index_col=0)
batting = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Batting.csv'), index_col=0)
fielding = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Fielding.csv'), index_col=0)
fielding2 = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'FieldingOFsplit.csv'), index_col=0)
pitching = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Pitching.csv'), index_col=0)
teams = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Teams.csv'), index_col=0)

len(players), len(batting), len(fielding), len(fielding2), len(pitching), len(teams)

(19617, 105861, 140921, 32602, 46699, 2895)

In [4]:
players.head(3)

,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01

In [5]:
batting.head(3)

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0

In [6]:
 fielding.head(3)

,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
playerID,,,,,,,,,,,,,,,,,
abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN

In [7]:
fielding2.head(3)

,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
playerID,,,,,,,,,,,,,,,,,
aaronha01,1954,1,ML1,NL,LF,105,102,2773,205,4,6,0,NaN,NaN,NaN,NaN,NaN
aaronha01,1954,1,ML1,NL,RF,11,11,320,12,1,1,1,NaN,NaN,NaN,NaN,NaN
abramca01,1954,1,PIT,NL,LF,5,5,120,12,2,0,0,NaN,NaN,NaN,NaN,NaN

In [8]:
pitching.head(3)

,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
bechtge01,1871,1,PH1,NaN,1,2,3,3,2,0,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
brainas01,1871,1,WS3,NaN,12,15,30,30,30,0,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
fergubo01,1871,1,NY2,NaN,0,0,1,0,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN

In [9]:
teams.head(3)

,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,DivWin,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
yearID,,,,,,,,,,,,,,,,,,,,,
1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,NaN,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,NaN,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,NaN,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1

## Create SQL Database
Create a SQL database and import the data from the CSV files into tables.

In [10]:
baseballdb = sqlite3.connect("baseball.db")

Replace the data for all tables except "fielding2," which is appended:

In [11]:
players.to_sql("players", baseballdb, if_exists = "replace")
batting.to_sql("batting", baseballdb, if_exists = "replace")
fielding.to_sql("fielding", baseballdb, if_exists = "replace")
fielding2.to_sql("fielding", baseballdb, if_exists = "append")
pitching.to_sql("pitching", baseballdb, if_exists = "replace")
teams.to_sql("teams", baseballdb, if_exists = "replace")

Verify that the two fielding tables have been combined properly:

In [12]:
len(fielding) + len(fielding2)

173523

In [13]:
total_fielding = pd.read_sql_query("SELECT COUNT(*) FROM fielding", baseballdb)
total_fielding

   COUNT(*)
0    173523

Verify the database schema a few different ways:

In [14]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'", baseballdb)

       name
0   players
1   batting
2  fielding
3  pitching
4     teams

In [21]:
pd.read_sql_query("SELECT birthYear, birthCity FROM players WHERE playerID = 'aaronha01'", baseballdb)

   birthYear birthCity
0     1934.0    Mobile

## Tidying the Data

In [16]:
# code to join clean data

## Transforming the Data

After importing libraries, I create some 6 dates as rows and then I fill the dataframe with random data.

In [17]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.116660 -2.365023  0.710945 -1.143336
2013-01-02  0.023960 -0.621350 -1.753106  0.929261
2013-01-03 -0.640126  0.611926  0.216174 -0.198639
2013-01-04 -0.267921  0.692169 -1.947045  0.753321
2013-01-05 -0.186208 -0.729277 -0.268756  0.170313
2013-01-06  0.219872 -0.760458 -0.312331  0.805314

From this data, we can see that everything is random. But if we had real data, we might need some sort of transformation like A+B

In [18]:
df['A+B'] = df['A'] + df['B']
df

                   A         B         C         D       A+B
2013-01-01  0.116660 -2.365023  0.710945 -1.143336 -2.248363
2013-01-02  0.023960 -0.621350 -1.753106  0.929261 -0.597390
2013-01-03 -0.640126  0.611926  0.216174 -0.198639 -0.028200
2013-01-04 -0.267921  0.692169 -1.947045  0.753321  0.424248
2013-01-05 -0.186208 -0.729277 -0.268756  0.170313 -0.915485
2013-01-06  0.219872 -0.760458 -0.312331  0.805314 -0.540586

## Visualize Data

This is the first visualization covered in the Bokeh video series

In [19]:
from bokeh.io import output_notebook, show
from bokeh.plotting import figure

In [20]:
output_notebook()
plot = figure(plot_width = 600, plot_height = 600, tools = 'pan, box_zoom, reset')
plot.square(x=[1,2,4,8,10], y = [6, 2, 18, 4, 9], size = 20)
show(plot)

## Conclusion

Restating of important points