# My Project as a Jupyter Notebook

## Introduction

What are the best moves for the `New York Mets` to make to improve the ballclub?

## Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlite3

In [2]:
# Get the current working directory:
os.getcwd()

'C:\\Users\\robertg\\Git\\codelouisville\\python-class-project'

## Data Import
Read data from csv files and verify data:

In [3]:
players = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'People.csv'), index_col=0)
batting = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Batting.csv'), index_col=0)
fielding = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Fielding.csv'), index_col=0)
fielding2 = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'FieldingOFsplit.csv'), index_col=0)
pitching = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Pitching.csv'), index_col=0)
teams = pd.read_csv(os.path.join('baseballdatabank-2019.2', 'core', 'Teams.csv'), index_col=0)

len(players), len(batting), len(fielding), len(fielding2), len(pitching), len(teams)

(19617, 105861, 140921, 32602, 46699, 2895)

In [4]:
players.head(3)

,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01

In [5]:
batting.head(3)

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0

In [6]:
 fielding.head(3)

,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
playerID,,,,,,,,,,,,,,,,,
abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN

In [7]:
fielding2.head(3)

,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
playerID,,,,,,,,,,,,,,,,,
aaronha01,1954,1,ML1,NL,LF,105,102,2773,205,4,6,0,NaN,NaN,NaN,NaN,NaN
aaronha01,1954,1,ML1,NL,RF,11,11,320,12,1,1,1,NaN,NaN,NaN,NaN,NaN
abramca01,1954,1,PIT,NL,LF,5,5,120,12,2,0,0,NaN,NaN,NaN,NaN,NaN

In [8]:
pitching.head(3)

,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
bechtge01,1871,1,PH1,NaN,1,2,3,3,2,0,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
brainas01,1871,1,WS3,NaN,12,15,30,30,30,0,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
fergubo01,1871,1,NY2,NaN,0,0,1,0,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN

In [9]:
teams.head(3)

,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,DivWin,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
yearID,,,,,,,,,,,,,,,,,,,,,
1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,NaN,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,NaN,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,NaN,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1

## Create SQL Database
Create a SQL database and import the data from the CSV files into tables.

In [10]:
baseballdb = sqlite3.connect("baseball.db")

Replace the data for all tables except "fielding2," which is appended:

In [11]:
players.to_sql("players", baseballdb, if_exists = "replace")
batting.to_sql("batting", baseballdb, if_exists = "replace")
fielding.to_sql("fielding", baseballdb, if_exists = "replace")
fielding2.to_sql("fielding", baseballdb, if_exists = "append")
pitching.to_sql("pitching", baseballdb, if_exists = "replace")
teams.to_sql("teams", baseballdb, if_exists = "replace")

Verify that the two fielding tables have been combined properly:

In [12]:
len(fielding) + len(fielding2)

173523

In [13]:
total_fielding = pd.read_sql_query("SELECT COUNT(*) FROM fielding", baseballdb)
total_fielding

   COUNT(*)
0    173523

Verify the database schema:

In [14]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'", baseballdb)

       name
0   players
1   batting
2  fielding
3  pitching
4     teams

Verify the data with a simple query:

In [15]:
pd.read_sql_query("SELECT birthYear, birthCity FROM players WHERE playerID = 'aaronha01'", baseballdb)

   birthYear birthCity
0     1934.0    Mobile

## Retrieve Mets Data
Get the Mets' teamID:

In [26]:
pd.read_sql_query("SELECT * FROM teams WHERE yearID=2018 AND lgID='NL' ORDER BY teamID", baseballdb)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,2018,NL,ARI,ARI,W,3,162,81.0,82,80,...,152,0.988,Arizona Diamondbacks,Chase Field,2242695.0,108,107,ARI,ARI,ARI
1,2018,NL,ATL,ATL,E,1,162,81.0,90,72,...,134,0.986,Atlanta Braves,SunTrust Park,2555781.0,100,100,ATL,ATL,ATL
2,2018,NL,CHN,CHC,C,2,163,82.0,95,68,...,155,0.983,Chicago Cubs,Wrigley Field,3181089.0,107,106,CHC,CHN,CHN
3,2018,NL,CIN,CIN,C,5,162,81.0,67,95,...,144,0.984,Cincinnati Reds,Great American Ball Park,1629356.0,103,104,CIN,CIN,CIN
4,2018,NL,COL,COL,W,2,163,81.0,91,72,...,162,0.988,Colorado Rockies,Coors Field,3015880.0,117,116,COL,COL,COL
5,2018,NL,LAN,LAD,W,1,163,82.0,92,71,...,111,0.983,Los Angeles Dodgers,Dodger Stadium,3857500.0,98,96,LAD,LAN,LAN
6,2018,NL,MIA,FLA,E,5,161,81.0,63,98,...,133,0.986,Miami Marlins,Marlins Park,811104.0,89,90,MIA,FLO,MIA
7,2018,NL,MIL,MIL,C,1,163,81.0,96,67,...,141,0.982,Milwaukee Brewers,Miller Park,2850875.0,102,101,MIL,ML4,MIL
8,2018,NL,NYN,NYM,E,4,162,81.0,77,85,...,121,0.985,New York Mets,Citi Field,2224995.0,90,91,NYM,NYN,NYN
9,2018,NL,PHI,PHI,E,3,162,81.0,80,82,...,138,0.979,Philadelphia Phillies,Citizens Bank Park,2158124.0,102,103,PHI,PHI,PHI
10,2018,NL,PIT,PIT,C,4,161,80.0,82,79,...,129,0.982,Pittsburgh Pirates,PNC Park,1465316.0,96,96,PIT,PIT,PIT
11,2018,NL,SDN,SDP,W,5,162,81.0,66,96,...,127,0.983,San Diego Padres,Petco Park,2168536.0,94,95,SDP,SDN,SDN
12,2018,NL,SFN,SFG,W,4,162,81.0,73,89,...,160,0.984,San Francisco Giants,AT&T Park,3156185.0,95,96,SFG,SFN,SFN
13,2018,NL,SLN,STL,C,3,162,81.0,88,74,...,151,0.978,St. Louis Cardinals,Busch Stadium III,3403587.0,97,96,STL,SLN,SLN
14,2018,NL,WAS,WSN,E,2,162,81.0,82,80,...,115,0.989,Washington Nationals,Nationals Park,2529604.0,106,105,WSN,MON,WAS

The Mets' teamID is NYN.  (NYM is their franchise ID [franchID].)

Get the Mets batting statistics:

In [76]:
Mets_Batting = pd.read_sql_query("""SELECT bat.playerID, nameGiven || ' ' || nameLast AS Name,
                                G, AB AS "At Bats", H AS Hits, "2B" AS Doubles, "3B" AS Triples, HR AS "Home Runs",
                                RBI AS "Runs Batted In", BB AS Walks, IBB AS "Intentional Walks", HBP AS "Hit By Pitch",
                                SO AS Strikeouts, SH AS Bunts, SF AS "Sac Flies"
                                FROM batting bat
                                JOIN players pla ON pla.playerID = bat.playerID 
                                WHERE yearID=2018 AND teamID='NYN'""", baseballdb)
Mets_Batting

,playerID,Name,G,At Bats,Hits,Doubles,Triples,Home Runs,Runs Batted In,Walks,Intentional Walks,Hit By Pitch,Strikeouts,Bunts,Sac Flies
0,bashlty01,Tyler Morris Bashlor,24,1,0,0,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0
1,baumabu01,George Charles Baumann,3,1,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,bautige01,Gerson Bautista,5,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,bautijo02,Jose Antonio Bautista,83,245,50,13,0,9,37.0,51,2.0,5.0,84.0,0.0,1.0
4,beckch02,Christopher Michael Beck,6,1,0,0,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0
5,blevije01,Jerry Richard Blevins,64,2,1,0,0,0,1.0,0,0.0,0.0,1.0,0.0,0.0
6,bruceja01,Jay Allen Bruce,94,319,71,18,1,9,37.0,41,4.0,0.0,75.0,0.0,1.0
7,cabreas01,Asdrubal Jose Cabrera,98,375,104,23,1,18,58.0,29,1.0,1.0,81.0,0.0,2.0
8,cespeyo01,Yoenis Cespedes,38,141,37,6,0,9,29.0,13,2.0,1.0,50.0,0.0,2.0
9,confomi01,Michael Thomas Conforto,153,543,132,25,1,28,82.0,84,8.0,7.0,159.0,0.0,4.0
10,conlopj01,Patrick Joshua Conlon,3,3,1,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
11,copelsc01,Scott Reast Copeland,1,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
12,darnatr01,Travis E. d'Arnaud,4,15,3,0,0,1,3.0,1,0.0,0.0,5.0,0.0,0.0
13,degroja01,Jacob Anthony deGrom,32,67,11,1,0,0,5.0,4,0.0,0.0,25.0,3.0,0.0
14,dendema01,Matthew G. den Dekker,8,18,0,0,0,0,1.0,2,0.0,0.0,9.0,0.0,1.0
15,evansph01,Phillip Matthew Evans,15,21,3,0,0,0,1.0,2,0.0,0.0,8.0,0.0,0.0
16,familje01,Jeurys Familia,40,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
17,flexech01,Christopher John Flexen,4,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
18,florewi01,Wilmer Alejandro Flores,126,386,103,25,0,11,51.0,29,1.0,5.0,42.0,0.0,9.0
19,frazito01,Todd Brian Frazier,115,408,87,18,0,18,59.0,48,1.0,8.0,112.0,0.0,8.0
20,gagnodr01,Andrew Miles Gagnon,5,1,0,0,0,0,1.0,0,0.0,0.0,0.0,0.0,1.0
21,gonzaad01,Adrian Sabin Gonzalez,54,169,40,5,0,6,26.0,15,3.0,1.0,34.0,0.0,2.0
22,gsellro01,Robert John Gsellman,68,3,0,0,0,0,0.0,0,0.0,1.0,2.0,0.0,0.0
23,guilllu01,Luis Miguel Guillorme,35,67,14,2,0,0,5.0,7,0.0,0.0,3.0,0.0,0.0
24,hanhoer01,Eric Dru Hanhold,3,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
25,harvema01,Matthew Edward Harvey,8,7,2,0,0,0,0.0,0,0.0,0.0,2.0,0.0,0.0
26,jacksau01,Austin Jarriel Jackson,57,198,49,9,1,3,19.0,12,0.0,0.0,74.0,0.0,0.0
27,kaczmke01,Kevin Kaczmarski,4,4,0,0,0,0,0.0,1,0.0,0.0,1.0,0.0,0.0
28,kellyty01,Tyler Patrick Kelly,9,11,1,0,0,0,0.0,1,0.0,0.0,2.0,0.0,0.0
29,lagarju01,Juan Osvaldo Lagares,30,59,20,1,1,0,6.0,3,1.0,1.0,9.0,0.0,1.0
30,lobatjo01,Jose Manuel Lobaton,22,49,7,2,1,0,4.0,7,0.0,0.0,15.0,0.0,1.0
31,lugose01,Jacob Seth Lugo,54,11,1,0,0,0,0.0,1,0.0,0.0,8.0,1.0,0.0
32,matzst01,Steven Jakob Matz,30,46,5,1,0,2,4.0,3,0.0,0.0,13.0,4.0,0.0
33,mcneije01,Jeff McNeil,63,225,74,11,6,3,19.0,14,1.0,5.0,24.0,4.0,0.0
34,mesorde01,Devin Douglas Mesoraco,66,203,45,8,0,10,30.0,23,3.0,2.0,42.0,0.0,1.0
35,nidoto01,Tomas E. Nido,34,84,14,3,0,1,9.0,4,0.0,0.0,27.0,0.0,2.0
36,nimmobr01,Brandon Tate Nimmo,140,433,114,28,8,17,47.0,80,2.0,22.0,140.0,0.0,0.0
37,oswalco01,Corey Edward Oswalt,17,18,0,0,0,0,0.0,0,0.0,0.0,10.0,1.0,0.0
38,peterti01,Timothy Louis Peterson,22,2,0,0,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0
39,plaweke01,Kevin Jeffrey Plawecki,79,238,50,13,2,7,30.0,28,2.0,9.0,65.0,1.0,1.0
40,ramosaj01,Alejandro Ramos,28,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
41,reinhja01,John Patrick Reinheimer,21,30,5,0,0,0,0.0,5,0.0,0.0,9.0,0.0,0.0
42,reyesjo01,Jose Bernabe Reyes,110,228,43,12,3,4,16.0,22,1.0,0.0,39.0,1.0,0.0
43,rhameja01,Jacob Alan Rhame,30,1,0,0,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0
44,robleha01,Hansel Manuel Robles,16,1,0,0,0,0,0.0,0,0.0,0.0,1.0,0.0,0.0
45,rosaram01,German Amed Rosario,154,554,142,26,8,9,51.0,29,4.0,3.0,119.0,3.0,3.0
46,sewalpa01,Paul Stanton Sewald,46,5,0,0,0,0,0.0,0,0.0,0.0,2.0,1.0,0.0
47,smithdo02,Dominic David Rene Smith,56,143,32,11,1,5,11.0,4,0.0,2.0,47.0,0.0,0.0
48,smithdr01,Andrew David Smith,27,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
49,swarzan01,Anthony Ray Swarzak,29,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
50,syndeno01,Noah Seth Syndergaard,25,47,6,2,0,0,3.0,1,0.0,0.0,32.0,3.0,1.0
51,vargaja01,Jason Matthew Vargas,21,27,4,0,0,0,0.0,1,0.0,0.0,8.0,3.0,0.0
52,wahlbo01,Robert Martin Wahl,7,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
53,wheelza01,Zachary Harrison Wheeler,29,56,11,2,0,0,4.0,0,0.0,0.0,21.0,3.0,1.0
54,wrighda03,David Allen Wright,2,2,0,0,0,0,0.0,1,0.0,0.0,0.0,0.0,0.0
55,zamorda01,Daniel James Zamora,16,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0

Get the Mets fielding statistics:

In [91]:
Mets_Fielding = pd.read_sql_query("""SELECT fld.playerID, nameGiven || ' ' || nameLast AS Name,
                                  Pos AS Position, G AS Games, PO AS Putouts, A AS Assists, E AS Errors,
                                  DP AS "Double Plays", PB AS "Passed Balls", WP AS "Wild Pitches",
                                  SB AS "Opp. Stolen Bases", CS AS "Opp. Caught Stealing", ZR AS "Zone Rating"
                                  FROM fielding fld
                                  JOIN players pla ON pla.playerID = fld.playerID 
                                  WHERE yearID=2018 AND teamID='NYN'""", baseballdb)
Mets_Fielding

,playerID,Name,Position,Games,Putouts,Assists,Errors,Double Plays,Passed Balls,Wild Pitches,Opp. Stolen Bases,Opp. Caught Stealing,Zone Rating
0,bashlty01,Tyler Morris Bashlor,P,24,1,1,1.0,0,NaN,None,NaN,NaN,None
1,baumabu01,George Charles Baumann,P,3,0,0,0.0,0,NaN,None,NaN,NaN,None
2,bautige01,Gerson Bautista,P,5,0,0,0.0,0,NaN,None,NaN,NaN,None
3,bautijo02,Jose Antonio Bautista,1B,2,14,3,0.0,2,NaN,None,NaN,NaN,None
4,bautijo02,Jose Antonio Bautista,2B,1,0,0,0.0,0,NaN,None,NaN,NaN,None
5,bautijo02,Jose Antonio Bautista,3B,11,3,16,0.0,2,NaN,None,NaN,NaN,None
6,bautijo02,Jose Antonio Bautista,OF,58,110,5,3.0,2,NaN,None,NaN,NaN,None
7,beckch02,Christopher Michael Beck,P,6,1,0,0.0,0,NaN,None,NaN,NaN,None
8,blevije01,Jerry Richard Blevins,P,64,0,4,0.0,0,NaN,None,NaN,NaN,None
9,bruceja01,Jay Allen Bruce,1B,21,150,10,1.0,14,NaN,None,NaN,NaN,None
10,bruceja01,Jay Allen Bruce,OF,64,117,3,2.0,0,NaN,None,NaN,NaN,None
11,cabreas01,Asdrubal Jose Cabrera,2B,90,153,198,5.0,56,NaN,None,NaN,NaN,None
12,cespeyo01,Yoenis Cespedes,OF,35,63,4,0.0,0,NaN,None,NaN,NaN,None
13,confomi01,Michael Thomas Conforto,OF,144,293,5,3.0,0,NaN,None,NaN,NaN,None
14,conlopj01,Patrick Joshua Conlon,P,3,0,1,0.0,0,NaN,None,NaN,NaN,None
15,copelsc01,Scott Reast Copeland,P,1,0,0,0.0,0,NaN,None,NaN,NaN,None
16,darnatr01,Travis E. d'Arnaud,C,4,43,1,1.0,0,0.0,None,7.0,1.0,None
17,degroja01,Jacob Anthony deGrom,P,32,21,23,1.0,2,NaN,None,NaN,NaN,None
18,dendema01,Matthew G. den Dekker,OF,7,19,0,0.0,0,NaN,None,NaN,NaN,None
19,evansph01,Phillip Matthew Evans,1B,1,3,0,0.0,0,NaN,None,NaN,NaN,None
20,evansph01,Phillip Matthew Evans,2B,2,2,0,0.0,0,NaN,None,NaN,NaN,None
21,evansph01,Phillip Matthew Evans,3B,3,4,4,0.0,0,NaN,None,NaN,NaN,None
22,evansph01,Phillip Matthew Evans,OF,1,1,0,0.0,0,NaN,None,NaN,NaN,None
23,familje01,Jeurys Familia,P,40,2,3,0.0,0,NaN,None,NaN,NaN,None
24,flexech01,Christopher John Flexen,P,4,1,4,0.0,1,NaN,None,NaN,NaN,None
25,florewi01,Wilmer Alejandro Flores,1B,83,576,32,3.0,49,NaN,None,NaN,NaN,None
26,florewi01,Wilmer Alejandro Flores,2B,13,11,18,0.0,3,NaN,None,NaN,NaN,None
27,florewi01,Wilmer Alejandro Flores,3B,10,6,13,3.0,2,NaN,None,NaN,NaN,None
28,frazito01,Todd Brian Frazier,3B,109,80,203,12.0,28,NaN,None,NaN,NaN,None
29,gagnodr01,Andrew Miles Gagnon,P,5,0,5,0.0,0,NaN,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,rosaram01,German Amed Rosario,SS,146,160,332,16.0,58,NaN,None,NaN,NaN,None
66,sewalpa01,Paul Stanton Sewald,P,46,2,6,1.0,0,NaN,None,NaN,NaN,None
67,smithdo02,Dominic David Rene Smith,1B,28,153,13,3.0,15,NaN,None,NaN,NaN,None
68,smithdo02,Dominic David Rene Smith,OF,13,13,0,1.0,0,NaN,None,NaN,NaN,None
69,smithdr01,Andrew David Smith,P,27,0,4,0.0,1,NaN,None,NaN,NaN,None
70,swarzan01,Anthony Ray Swarzak,P,29,0,1,0.0,0,NaN,None,NaN,NaN,None
71,syndeno01,Noah Seth Syndergaard,P,25,7,25,2.0,0,NaN,None,NaN,NaN,None
72,vargaja01,Jason Matthew Vargas,P,20,3,17,0.0,0,NaN,None,NaN,NaN,None
73,wahlbo01,Robert Martin Wahl,P,7,0,0,0.0,0,NaN,None,NaN,NaN,None
74,wheelza01,Zachary Harrison Wheeler,P,29,6,22,0.0,2,NaN,None,NaN,NaN,None
75,wrighda03,David Allen Wright,3B,1,0,1,0.0,0,NaN,None,NaN,NaN,None
76,zamorda01,Daniel James Zamora,P,16,0,2,0.0,0,NaN,None,NaN,NaN,None
77,bautijo02,Jose Antonio Bautista,LF,14,27,0,0.0,0,NaN,None,NaN,NaN,None
78,bautijo02,Jose Antonio Bautista,RF,45,83,5,3.0,2,NaN,None,NaN,NaN,None
79,bruceja01,Jay Allen Bruce,RF,64,117,3,2.0,0,NaN,None,NaN,NaN,None
80,cespeyo01,Yoenis Cespedes,LF,35,63,4,0.0,0,NaN,None,NaN,NaN,None
81,confomi01,Michael Thomas Conforto,CF,58,121,3,3.0,0,NaN,None,NaN,NaN,None
82,confomi01,Michael Thomas Conforto,LF,84,149,2,0.0,0,NaN,None,NaN,NaN,None
83,confomi01,Michael Thomas Conforto,RF,13,23,0,0.0,0,NaN,None,NaN,NaN,None
84,dendema01,Matthew G. den Dekker,CF,7,19,0,0.0,0,NaN,None,NaN,NaN,None
85,evansph01,Phillip Matthew Evans,LF,1,1,0,0.0,0,NaN,None,NaN,NaN,None
86,jacksau01,Austin Jarriel Jackson,CF,53,123,1,1.0,0,NaN,None,NaN,NaN,None
87,kaczmke01,Kevin Kaczmarski,RF,1,2,0,0.0,0,NaN,None,NaN,NaN,None
88,kellyty01,Tyler Patrick Kelly,LF,1,1,0,0.0,0,NaN,None,NaN,NaN,None
89,lagarju01,Juan Osvaldo Lagares,CF,20,34,2,0.0,0,NaN,None,NaN,NaN,None
90,nimmobr01,Brandon Tate Nimmo,CF,44,91,2,0.0,1,NaN,None,NaN,NaN,None
91,nimmobr01,Brandon Tate Nimmo,LF,32,56,1,0.0,1,NaN,None,NaN,NaN,None
92,nimmobr01,Brandon Tate Nimmo,RF,62,102,1,1.0,0,NaN,None,NaN,NaN,None
93,reinhja01,John Patrick Reinheimer,LF,6,3,0,0.0,0,NaN,None,NaN,NaN,None
94,smithdo02,Dominic David Rene Smith,LF,13,13,0,1.0,0,NaN,None,NaN,NaN,None

In [94]:
Mets_Pitching = pd.read_sql_query("""SELECT pit.playerID, nameGiven || ' ' || nameLast AS Name,
                                  G AS Games, W AS Wins, L AS Losses, GS AS "Games Started", CG AS "Complete Games",
                                  SHO AS Shutouts, SV AS Saves, IPOuts/3 AS "Innings Pitched",
                                  H AS Hits, R AS Runs, ER AS "Earned Runs",
                                  BB AS Walks, IBB AS "Intentional Walks", HBP AS "Hit by Pitch",
                                  SO AS Strikeouts, BFP AS "Batters Faced", BAOpp AS "Opp. Batting Avg."
                                  FROM pitching pit 
                                  JOIN players pla ON pla.playerID = pit.playerID 
                                  WHERE yearID=2018 AND teamID='NYN'""", baseballdb)
Mets_Pitching

,playerID,Name,Games,Wins,Losses,Games Started,Complete Games,Shutouts,Saves,Innings Pitched,Hits,Runs,Earned Runs,Walks,Intentional Walks,Hit by Pitch,Strikeouts,Batters Faced,Opp. Batting Avg.
0,bashlty01,Tyler Morris Bashlor,24,0,3,0,0,0,0,32,26,16,15,12,0.0,3.0,25,135.0,0.218
1,baumabu01,George Charles Baumann,3,0,1,0,0,0,0,3,7,8,8,5,2.0,0.0,4,21.0,0.438
2,bautige01,Gerson Bautista,5,0,1,0,0,0,0,4,8,6,6,5,0.0,0.0,3,25.0,0.444
3,beckch02,Christopher Michael Beck,6,0,0,0,0,0,0,10,10,6,6,9,0.0,0.0,5,46.0,0.270
4,blevije01,Jerry Richard Blevins,64,3,2,1,0,0,1,42,36,24,23,22,1.0,5.0,41,188.0,0.225
5,conlopj01,Patrick Joshua Conlon,3,0,0,2,0,0,0,7,15,7,7,2,0.0,0.0,5,38.0,0.417
6,copelsc01,Scott Reast Copeland,1,0,0,0,0,0,0,1,1,0,0,0,0.0,0.0,2,5.0,0.200
7,degroja01,Jacob Anthony deGrom,32,10,9,32,1,0,0,217,152,48,41,46,3.0,5.0,269,835.0,0.196
8,familje01,Jeurys Familia,40,4,4,0,0,0,17,40,36,13,13,14,1.0,2.0,43,171.0,0.234
9,flexech01,Christopher John Flexen,4,0,2,1,0,0,0,6,14,13,9,6,1.0,1.0,3,40.0,0.424
10,gagnodr01,Andrew Miles Gagnon,5,2,1,1,0,0,0,12,15,11,7,5,0.0,2.0,8,56.0,0.319
11,gsellro01,Robert John Gsellman,68,6,3,0,0,0,13,80,76,44,38,28,6.0,5.0,70,345.0,0.250
12,hanhoer01,Eric Dru Hanhold,3,0,0,0,0,0,0,2,4,2,2,1,0.0,1.0,2,13.0,0.364
13,harvema01,Matthew Edward Harvey,8,0,2,4,0,0,0,27,33,21,21,9,0.0,1.0,20,123.0,0.303
14,lugose01,Jacob Seth Lugo,54,3,4,5,0,0,3,101,81,36,30,28,4.0,2.0,103,410.0,0.217
15,matzst01,Steven Jakob Matz,30,5,11,30,0,0,0,154,134,77,68,58,2.0,10.0,152,654.0,0.232
16,oswalco01,Corey Edward Oswalt,17,3,3,12,0,0,0,64,69,43,42,20,1.0,4.0,45,282.0,0.268
17,peterti01,Timothy Louis Peterson,22,2,2,0,0,0,0,27,29,19,19,5,2.0,1.0,25,118.0,0.261
18,ramosaj01,Alejandro Ramos,28,2,2,0,0,0,0,19,17,14,14,15,0.0,0.0,22,88.0,0.236
19,reyesjo01,Jose Bernabe Reyes,1,0,0,0,0,0,0,1,5,6,6,2,0.0,1.0,0,11.0,0.625
20,rhameja01,Jacob Alan Rhame,30,1,2,0,0,0,1,32,38,21,21,8,2.0,1.0,28,140.0,0.295
21,robleha01,Hansel Manuel Robles,16,2,2,0,0,0,0,19,21,11,11,10,1.0,1.0,23,88.0,0.280
22,sewalpa01,Paul Stanton Sewald,46,0,7,0,0,0,2,56,62,39,38,23,2.0,1.0,58,253.0,0.277
23,smithdr01,Andrew David Smith,27,1,1,0,0,0,0,28,34,11,11,6,0.0,2.0,18,120.0,0.309
24,swarzan01,Anthony Ray Swarzak,29,0,2,0,0,0,4,26,28,18,18,14,0.0,1.0,31,116.0,0.280
25,syndeno01,Noah Seth Syndergaard,25,13,4,25,2,1,0,154,148,55,52,39,2.0,7.0,155,644.0,0.250
26,vargaja01,Jason Matthew Vargas,20,7,9,20,0,0,0,92,100,60,59,30,1.0,5.0,84,404.0,0.276
27,wahlbo01,Robert Martin Wahl,7,0,1,0,0,0,0,5,9,6,6,4,0.0,0.0,7,29.0,0.360
28,wheelza01,Zachary Harrison Wheeler,29,12,7,29,0,0,0,182,150,69,67,55,0.0,9.0,179,744.0,0.225
29,zamorda01,Daniel James Zamora,16,1,0,0,0,0,0,9,6,3,3,3,1.0,1.0,16,36.0,0.194

Notes:

    * Opponent Batting Average = Hits / (Batters Faced by Pitcher - Base on Balls = Intentional Base on Balls - Hit by Pitch - Sacrifice Hits - Sacrifice Flies)
    * Earned Run Average = 9 (no. of innings in a game) * Earned Runs / Innings Pitched

## Transforming the Data

After importing libraries, I create some 6 dates as rows and then I fill the dataframe with random data.

From this data, we can see that everything is random. But if we had real data, we might need some sort of transformation like A+B

## Visualize Data

This is the first visualization covered in the Bokeh video series

## Conclusion

Restating of important points